# Database Configuration
DATABASE_PATH=

# Cloudflare R2 Credentials (Object Storage for Backups)
R2_ACCOUNT_ID=76c29f990babc50688352f686dec4c17
R2_BUCKET_NAME=transport
R2_ENDPOINT=https://76c29f990babc50688352f686dec4c17.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key_id_here
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key_here
